on boot
    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait

on post-fs-data
    rm /data/system/wpa_supplicant
    write /dev/wcnss_wlan 1
    write /sys/module/wcnss_ssr_8960/parameters/enable_riva_ssr 1

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    class late_start
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin system radio
    disabled
    oneshot

on property:bluetooth.hciattach=true
    start hciattach

on property:bluetooth.hciattach=false
    setprop bluetooth.status off
